<section id="about-us" class="about-us-section section">
  <div class="container">
    <h2 class="about-us-title">
      About <span class="about-us-title-accent">Us</span>
    </h2>
    <p class="about-us-substitute">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-us-grid">
      <ul class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-item-number">01</p>
          <p class="about-us-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-number">02</p>
          <p class="about-us-item-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-number">03</p>
          <p class="about-us-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-number">04</p>
          <p class="about-us-item-text">
            Comprehensive language support services
          </p>
        </li>
      </ul>
      <div class="about-us-picture">
        <img
          class="about-us-image"
          srcset="./img/about-us/about-us-memoji@2x.png 2x"
          src="../img/about-us/about-us-memoji.png"
          alt="memoji"
          width="254"
          height="211"
        />
      </div>
    </div>
  </div>
</section>
