.about-us-section {
  margin: 80px 0;
}

.about-us-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--title-text);
  margin-bottom: 16px;
}

.about-us-title-accent {
  position: relative;
  display: inline-block;
}

.about-us-title-accent:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}

.about-us-substitute {
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: var(--text);
  margin-bottom: 40px;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.about-us-item {
  border-radius: 16px;
  padding: 32px;
  background: var(--gray);
}

.about-us-item-number {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--green);
  margin-bottom: 16px;
}

.about-us-item-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.about-us-picture {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  background: var(--green);
  padding: 51px 0px;
}

@media (min-width: 768px) {
  .about-us-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .about-us-substitute {
    font-size: 18px;
    padding: 0 20px;
  }

  .about-us-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }

  .about-us-item {
    width: 336px;
  }

  .about-us-picture {
    padding: 16px 0px;
  }
}

@media (min-width: 1280px) {
  .about-us-substitute {
    padding: 0 180px;
    margin-bottom: 64px;
  }

  .about-us-grid {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .about-us-list {
    margin: 0;
  }

  .about-us-item {
    width: 325px;
  }

  .about-us-picture {
    flex: 0 0 310px;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
