:root {
  --font-family: 'Manrope', sans-serif;
  --title-text: #121417;
  --text: rgba(18, 20, 23, 0.5);
  --green: #4dc274;
  --light-green: #d4fde1;
  --gray: #f3f5f6;
  --white: #fff;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family);
  color: var(--title-text);
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
