.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.our-teachers-section {
  padding: 80px 0 40px;
}

.teachers-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 113%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.title-accent {
  position: relative;
  display: inline-block;
}

.title-accent::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}
.teachers-supporting-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: var(--text);
  margin-bottom: 40px;
}

.teachers-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.teachers-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teachers-photo {
  max-width: 100%;
  border-radius: 100%;
  margin-bottom: 16px;
}

.teachers-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teachers-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.teachers-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: var(--text);
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .our-teachers-section {
    padding: 100px 0 50px;
  }

  .teachers-title {
    font-size: 40px;
    line-height: 120%;
  }

  .title-accent::after {
    height: 20px;
    bottom: -3px;
  }

  .teachers-supporting-text {
    font-size: 18px;
    line-height: 167%;
    margin-bottom: 64px;
  }

  .teachers-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 64px;
    gap: 32px;
  }

  .teachers-list-item {
    width: calc((100% - 32px) / 2);
    margin-bottom: 32px;
  }

  .teachers-description {
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 128px;
  }
  .our-teachers-section {
    padding: 150px 0 75px;
  }

  .teachers-supporting-text {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
  }

  .teachers-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 32px;
  }

  .teachers-list-item {
    width: calc((100% - 96px) / 4);
  }
}
