/* ===== Section wrapper ===== */
.proposal {
    border-radius: 16px;
    background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
    overflow: hidden;
    margin: 0 20px 80px 20px;
}

.proposal-container {
    padding: 40px 20px 63px 20px;
    position: relative;
    z-index: 1; 
}

.proposal-headline {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.05;
    color: var(--white);
    margin-bottom: 66px;
}

.proposal-headline--muted{
    color: #bee8cc;;
}

.proposal-wrap {
    position: relative;
}

.proposal-wrap::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(9deg);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    
    z-index: 0;
    }

.proposal-wrap::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-11deg);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: #d4fde1;
    z-index: -1;
}

.proposal-card {
    position: relative;
    z-index: 1;
    background-color: var(--white);
    border-radius: 16px;
    padding: 40px 20px;
}

.proposal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--title-text);
    margin-bottom: 20px;
    
}

.proposal-list {
    margin-bottom: 20px;
}

.proposal-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.proposal-check {
    width: 20px;
    height: 20px;
}

.proposal-check-icon {
    width: 20px;
    height: 20px;
}

.proposal-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--title-text);
}

.proposal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    border-radius: 12px;
    background-color: var(--green);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
}

.proposal-media {
    display: none;
}

/* ===== Tablet 768px ===== */
@media (min-width: 768px) {
    .proposal {
        max-width: 768px;
        margin: 0 32px 100px 32px;
        border-radius: 30px;
    }

    .proposal-container {
        max-width: 768px;
        padding: 64px 18px 93px 18px;
    }    

    .proposal-headline {
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 83px;
    }

    .proposal-wrap::before {
        transform: translate(-50%, -50%) rotate(10deg);
        border-radius: 30px;
    }

    .proposal-wrap::after {
        transform: translate(-50%, -50%) rotate(-11deg);
        border-radius: 30px;
    }

    .proposal-card {
        border-radius: 30px;
        padding: 65px 32px 63px 32px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;
    }

    .proposal-card-content {
        min-width: 448px;
    }

    .proposal-title {
        font-size: 40px;
        margin-bottom: 32px;
    }

    .proposal-list {
        margin-bottom: 32px;
    }

    .proposal-item {
        gap: 16px;
    }

    .proposal-check {
        width: 28px;
        height: 28px;
    }

    .proposal-check-icon {
        width: 28px;
        height: 28px;
    }

    .proposal-text {
        font-size: 20px;
        line-height: 1.2;
    }

    .proposal-btn {
        font-size: 18px;
        line-height: 1.6;
        width: fit-content;
        padding: 16px 64px;
        display: flex;
    }

    /* show image on tablet/desktop */
    .proposal-media {
        display: contents;
    }
}    
/* ===== Desktop 1280px ===== */
@media (min-width: 1280px) {
    .proposal {
        max-width: 1280px;
        margin: 0 64px 150px 64px;
    }
    
    .proposal-container {
        max-width: 1280px;
        padding: 64px 64px 142px 64px;
    }

    .proposal-headline {
        margin-bottom: 133px;
        max-width: 776px;
    }

    .proposal-card {
        padding: 64px 64px;
        gap: 92px;
    }

    .proposal-title {
        margin-bottom: 40px;
    }

    .proposal-list {
        margin-bottom: 40px;
    }

    .proposal-btn {
        transition: background-color var(--transition-duration-and-func);
    }

    .proposal-btn:hover,
    .proposal-btn:focus {
        background-color: #38ae5f;
    }

}